* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
/* Amazon Top Navigation bar (Header)  */

/* Navigation bar */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Amazon Logo */
.nav-logo {
    height: 50px;
    width: 130px;
}

.logo {
    background-image: url("Images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 130px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* Location Tag 1st and 2nd line  */

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* Search bar  */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: orange;
    color: #0f1111;
}


/* Language Selection */
.nav-language {
    display: flex;
    height: 1.5rem;
    border: #cccccc;
}

.language-select {
    margin-left: 3px;
    display: flex;
    justify-content: center;    
    border-radius: 4px;
}

/* Account Login tab with retuns */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* Cart Details Tag */
.nav-cart i{            /* For icon */
    font-size: 30px;
}
 
.nav-cart {             /* For text */
    font-size: 0.85rem;
    font-weight: 700;
}

/* Amazon Second Panel Section */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all:hover {
    border: 2px solid white;
}

.panel-ops p {
    display: inline;
    color: white;
    margin-left: 15px;
}

.panel-ops p:hover{
    border: 2px solid white;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.panel-deals:hover {
    border: 2px solid white;
}

/* Amazon Hero section */

.hero-section {
    background-image: url("Images/Toys.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: #cccccc;
    color: black;
    height: 40px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}


/* Amazon Shopping Section */
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box {
    /* border: 2px solid black; */
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 50px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    margin-top: 1rem;
}   

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p {
    color: #007185;
}

/* Amazon Sign-in Section */
#text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0px 10px 0px 11px;
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: orange;
    border-radius: 50px;
    height: 30px;
    width: 200px;
    border: none;
    font-size: 0.85rem;
}

#text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 7px;
}

/* Amazon Bottom bar (Footer) */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #a4cffd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo2 {
    background-image: url("Images/amazon_logo.png");
    background-size: cover;
    height: 40px;
    width: 120px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;   
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}